@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$light: #f8f8f8;
$dark: black;
$secondary: #adeffe;
$normal-font-stack: "Poppins", Arial, Helvetica;
$initial-font-stack: "Marck Script", "Poppins", Helvetica;

$a-color: #a147af;
$b-color: #00ffb2;
$c-color: #11e126;
$d-color: #dced1f;
$e-color: #e18211;
$f-color: #cccccc;
$g-color: #ff4444;
$csharp-color: #219653;
$dsharp-color: #9aa800;
$fsharp-color: #838383;
$Gsharp-color: #b12a2a;
$asharp-color: #6a007b;