@use '../abstracts' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    background-color: black;
    color: $light;
    letter-spacing: 0.025rem;
}