@use '../abstracts' as *;

form#login {
    fieldset {
        padding: 1rem;

        legend {
            padding: 0.6rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
        }

        input {
            border-radius: 10px;
            border: none;
            font-family: $normal-font-stack;
            padding: 0.4rem 0.8rem;
            margin: 1rem 0.8rem;
            width: 100%;
        }
    }
}