@use '../abstracts' as *;

.navbar {
    .nav-item {
        color: $light;
        font-size: 0.875rem;
    }
}

#hero {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 2em;
}
