
header {
    .container {
        display: flex;
        align-items: center;
        width: 95%;
        height: 7rem;
        margin: auto;
    }

    .title {
        width: 50%;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        font-weight: 500;
        text-align: center;
    }

    #btns-container {
        display: flex;  
        justify-content: center;
        width: 50%;

        button {
            width: 90%;
        }
    }
}
